<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300419071739-psh7qiqldvu005bp9hfnvlhjtpvu9e7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300419071739-psh7qiqldvu005bp9hfnvlhjtpvu9e7v</string>
	<key>API_KEY</key>
	<string>AIzaSyBkCp0rTRdgOKMj7UdkPUScjTioUi0538A</string>
	<key>GCM_SENDER_ID</key>
	<string>300419071739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc-23-b2l-jboctavo</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc-23-b2l-jboctavo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300419071739:ios:42894f2e5d339126f8ba5e</string>
</dict>
</plist>